#set($nih_url = "http://www.ncbi.nlm.nih.gov/pubmed/" + $doc.getFieldValue('pmid'))
#set($dbSnp_base="http://www.ncbi.nlm.nih.gov/projects/SNP/snp_ref.cgi?rs=")
#set( $pmid =  $doc.getFieldValue('pmid') )
<div>$hitCount.  PMID: $pmid 
&nbsp;&nbsp;<i>#field('p_type')</i>
&nbsp;&nbsp;
<a href="$nih_url">NCBI page</a>
#if ($doc.getFieldValue('pmc_id_s'))
   <b> <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/$doc.getFieldValue('pmc_id_s')/">Free PMC Article</a></b>
#elseif ($doc.getFieldValue('doi_s'))
   <b> <a href="http://dx.doi.org/$doc.getFieldValue('doi_s')">Full Text Article via DOI</a></b>
#end
&nbsp;
&nbsp;
<a href="http://pipelines.rgd.mcw.edu/rgdweb/pubmed/getReference.html?pmid=$doc.getFieldValue('pmid')&type=redirect" target="_blank"><img src="http://pipelines.rgd.mcw.edu/rgdweb/pubmed/rgdLogo.png?pmid=$doc.getFieldValue('pmid')" alt="" width="90" height="30"></a>
<span id="annP$doc.getFieldValue('pmid')" style="float: right;">P </span>
<span id="annF$doc.getFieldValue('pmid')" style="float: right;">F </span>
<span id="annD$doc.getFieldValue('pmid')" style="float:right;">D </span>&nbsp;&nbsp;
<span id="annC$doc.getFieldValue('pmid')" style="float: right;">C </span>&nbsp;
<span id="ann$doc.getFieldValue('pmid')" style="visibility:hidden;">
RGD annotations:
</span>

</div>
<script>

var r_ann_$hitCount;
$('#container').load('http://google.com');
$.support.cors = true;

getAnn("$doc.getFieldValue('pmid')", "C");
getAnn("$doc.getFieldValue('pmid')", "D");
getAnn("$doc.getFieldValue('pmid')", "F");
getAnn("$doc.getFieldValue('pmid')", "P");

function C_$doc.getFieldValue('pmid')(data) { setAnn("$doc.getFieldValue('pmid')", "C", data); }
function D_$doc.getFieldValue('pmid')(data) { setAnn("$doc.getFieldValue('pmid')", "D", data); }
function F_$doc.getFieldValue('pmid')(data) { setAnn("$doc.getFieldValue('pmid')", "F", data); }
function P_$doc.getFieldValue('pmid')(data) { setAnn("$doc.getFieldValue('pmid')", "P", data); }
</script>

#if($response.response.highlighting.get($docId).get('abstract').get(0))
#set( $abstract_text = $!response.response.highlighting.get($docId).get('abstract').get(0))
  #else
#set( $abstract_text = $doc.getFieldValue('abstract'))
  #end
#set( $mesh_text = $doc.getFieldValue('mesh_terms'))
###set( $epub_date = $dateTool.format("MMM dd yyyy", $doc.getFieldValue('epub_date')))
###set( $j_date = $doc.getFieldValue('j_date_s'))
##<div><font size=2>$title_text</font></div>
<div>#field('citation')</div>
<div id="til_$pmid" style="font-size:15;color:blue;">#field('title')</div>
<div>#field('authors')</div>
      #if ($abstract_text.length() > 0 || $doc.getFieldValue('mesh_terms')) 
<div><font size=3><br>ABSTRACT <input type="button" value="show" onclick="if ($(this).val() == 'hide'){$(this).val('show');$('#abs_$pmid').hide('fast');} else {$(this).val('hide');$('#abs_$pmid').show('fast');}"></input><br><br></font> 
<div id="abs_$pmid" class="result-citation" style="display: none">
</span><div id="abstext_$pmid" style="abs_body">$abstract_text.replaceAll('\n', '<br><br>')</div>
#if ($doc.getFieldValue('mesh_terms'))
<font size=2>MeSH Terms: </font>#field('mesh_terms')
#end
<br>
<br>
</span>
</div>
</div>
#end
--------------------------------
#if ($doc.getFieldValue('rdo_id'))
#set ($rdo_id_values = $doc.getFieldValue('rdo_id'))
#set ($rdo_term_values = $doc.getFieldValue('rdo_term'))
#set ($rdo_count_values = $doc.getFieldValue('rdo_count'))
<div>Disease terms:
#set ($value_length = $rdo_id_values.size() - 1)
#foreach ($i in [0..$value_length])
#set ($id_value=$rdo_id_values.get($i))
#set ($term_value=$rdo_term_values.get($i))
#foreach ($hl_rdo in $response.response.highlighting.get($docId).get('rdo_id'))
#if ($hl_rdo.contains($id_value))
#set( $term_value = "<b style='background:yellow'>$term_value</b>")
#end
#end
#set ($count_value=$rdo_count_values.get($i))
<a href="http://rgd.mcw.edu/rgdweb/ontology/annot.html?acc_id=$id_value" onmouseover="highlightTerm('$pmid','$esc.javascript($term_value)')" onmouseout="removeHighlight('$pmid')">$term_value</a>&nbsp;&nbsp;
#end
</div>
#end

#if ($doc.getFieldValue('rgd_obj_id'))
#set ($rgd_id_values = $doc.getFieldValue('rgd_obj_id'))
#set ($rgd_term_values = $doc.getFieldValue('rgd_obj_term'))
#set ($rgd_count_values = $doc.getFieldValue('rgd_obj_count'))
<div>RGD objects:
#set ($value_length = $rgd_id_values.size() - 1)
#foreach ($i in [0..$value_length])
#set ($term_value=$rgd_term_values.get($i))
#set ($id_value=$rgd_id_values.get($i))
#set ($count_value=$rgd_count_values.get($i))
###set ($pos_value=$organism_pos.get($i))
<a href="http://rgd.mcw.edu/rgdweb/report/gene/main.html?id=$id_value" onmouseover="highlightTerm1('$pmid','$pos_value')" onmouseout="removeHighlight('$pmid')">$term_value</a>&nbsp;&nbsp;
#end
</div>
#end

#if ($doc.getFieldValue('gene'))
#set ($genes=$doc.getFieldValue('gene'))
#set ($genes_count=$doc.getFieldValue('gene_count'))
#set ($genes_pos = $doc.getFieldValue('gene_pos'))
<div>Genes:
#set ($value_length = $genes.size() - 1)
#foreach ($i in [0..$value_length])
#set ($gene=$genes.get($i))
#set ($count_value=$genes_count.get($i))
#set ($pos_value=$genes_pos.get($i))
<span class="highlight-gene" onmouseover="highlightTerm1('$pmid','$pos_value')" onmouseout="removeHighlight('$pmid')">$gene</span>&nbsp;&nbsp;&nbsp;
#end
</div>
#end

#if ($doc.getFieldValue('mt_id'))
#set ($mt_id_values = $doc.getFieldValue('mt_id'))
#set ($mt_term_values = $doc.getFieldValue('mt_term'))
#set ($mt_count_values = $doc.getFieldValue('mt_count'))
<div>Mutations:
#set ($value_length = $mt_id_values.size() - 1)
#foreach ($i in [0..$value_length])
#if ($i < $mt_term_values.size())
#set ($term_value=$mt_term_values.get($i))
#set ($count_value=$mt_count_values.get($i))
#set ($mt_ft="")
#if ($count_value ==0)
#set ($mt_ft='class="fullTextLink"')
#end
#if ($term_value.toLowerCase().indexOf("rs")==0) 
#set($rs_id=$term_value.substring(2,$term_value.length()))
<a $mt_ft href="$dbSnp_base$rs_id" onmouseover="highlightTerm('$pmid','$esc.javascript($term_value)')" onmouseout="removeHighlight('$pmid')">$term_value</a>&nbsp;&nbsp;&nbsp;
#else
<span class="highlight-gene" onmouseover="highlightTerm('$pmid','$esc.javascript($term_value)')" onmouseout="removeHighlight('$pmid')">$term_value</span>&nbsp;&nbsp;&nbsp;
#end
#end
#end
</div>
#end
         
#if ($doc.getFieldValue('snp_id'))
#set ($snp_id_values = $doc.getFieldValue('snp_id'))
#set ($snp_term_values = $doc.getFieldValue('snp_term'))
#set ($snp_count_values = $doc.getFieldValue('snp_count'))
<div>SNPs:
#set ($value_length = $snp_id_values.size() - 1)
#foreach ($i in [0..$value_length])
#set ($term_value=$snp_term_values.get($i))
#set ($count_value=$ctd_count_values.get($i))
<span onmouseover="highlightTerm('$pmid','$esc.javascript($term_value)')" onmouseout="removeHighlight('$pmid')">$term_value   </span>
#end
</div>
#end

#if ($doc.getFieldValue('bp_id'))
#set ($bp_id_values = $doc.getFieldValue('bp_id'))
#set ($bp_term_values = $doc.getFieldValue('bp_term'))
#set ($bp_count_values = $doc.getFieldValue('bp_count'))
<div>Biological Process Terms:
#set ($value_length = $bp_id_values.size() - 1)
#foreach ($i in [0..$value_length])
#set ($term_value=$bp_term_values.get($i))
#set ($id_value=$bp_id_values.get($i))
#set ($count_value=$bp_count_values.get($i))
<a href="http://rgd.mcw.edu/rgdweb/ontology/annot.html?acc_id=$id_value" onmouseover="highlightTerm('$pmid','$esc.javascript($term_value)')" onmouseout="removeHighlight('$pmid')">$term_value</a>&nbsp;&nbsp;
#end
</div>
#end

#if ($doc.getFieldValue('zfa_id'))
#set ($bp_id_values = $doc.getFieldValue('zfa_id'))
#set ($bp_term_values = $doc.getFieldValue('zfa_term'))
#set ($bp_count_values = $doc.getFieldValue('zfa_count'))
<div>Zebrafish Anatomy Terms:
#set ($value_length = $bp_id_values.size() - 1)
#foreach ($i in [0..$value_length])
#set ($term_value=$bp_term_values.get($i))
#set ($id_value=$bp_id_values.get($i))
#set ($count_value=$bp_count_values.get($i))
<a href="http://rgd.mcw.edu/rgdweb/ontology/annot.html?acc_id=$id_value" onmouseover="highlightTerm('$pmid','$esc.javascript($term_value)')" onmouseout="removeHighlight('$pmid')">$term_value</a>&nbsp;&nbsp;
#end
</div>
#end




#if ($doc.getFieldValue('chebi_id'))
#set ($chebi_id_values = $doc.getFieldValue('chebi_id'))
#set ($chebi_term_values = $doc.getFieldValue('chebi_term'))
#set ($chebi_count_values = $doc.getFieldValue('chebi_count'))
<div>CHEBI Terms:
#set ($value_length = $chebi_id_values.size() - 1)
#foreach ($i in [0..$value_length])
#set ($term_value=$chebi_term_values.get($i))
#set ($id_value=$chebi_id_values.get($i))
#set ($count_value=$chebi_count_values.get($i))
<a href="http://rgd.mcw.edu/rgdweb/ontology/annot.html?acc_id=$id_value" onmouseover="highlightTerm('$pmid','$esc.javascript($term_value)')" onmouseout="removeHighlight('$pmid')">$term_value</a>&nbsp;&nbsp;
#end
</div>
#end

#if ($doc.getFieldValue('mf_id'))
#set ($mf_id_values = $doc.getFieldValue('mf_id'))
#set ($mf_term_values = $doc.getFieldValue('mf_term'))
#set ($mf_count_values = $doc.getFieldValue('mf_count'))
<div>Molecular Function Terms:
#set ($value_length = $mf_id_values.size() - 1)
#foreach ($i in [0..$value_length])
#set ($term_value=$mf_term_values.get($i))
#set ($id_value=$mf_id_values.get($i))
#set ($count_value=$mf_count_values.get($i))
<a href="http://rgd.mcw.edu/rgdweb/ontology/annot.html?acc_id=$id_value" onmouseover="highlightTerm('$pmid','$esc.javascript($term_value)')" onmouseout="removeHighlight('$pmid')">$term_value</a>&nbsp;&nbsp;
#end
</div>
#end

#if ($doc.getFieldValue('cc_id'))
#set ($cc_id_values = $doc.getFieldValue('cc_id'))
#set ($cc_term_values = $doc.getFieldValue('cc_term'))
#set ($cc_count_values = $doc.getFieldValue('cc_count'))
<div>Cellular Component Terms:
#set ($value_length = $cc_id_values.size() - 1)
#foreach ($i in [0..$value_length])
#set ($term_value=$cc_term_values.get($i))
#set ($id_value=$cc_id_values.get($i))
#set ($count_value=$cc_count_values.get($i))
<a href="http://rgd.mcw.edu/rgdweb/ontology/annot.html?acc_id=$id_value" onmouseover="highlightTerm('$pmid','$esc.javascript($term_value)')" onmouseout="removeHighlight('$pmid')">$term_value</a>&nbsp;&nbsp;
#end
</div>
#end

#if ($doc.getFieldValue('ctd_id'))
#set ($ctd_id_values = $doc.getFieldValue('ctd_id'))
#set ($ctd_term_values = $doc.getFieldValue('ctd_term'))
#set ($ctd_count_values = $doc.getFieldValue('ctd_count'))
<div>Disease terms:
#set ($value_length = $ctd_id_values.size() - 1)
#foreach ($i in [0..$value_length])
#set ($term_value=$ctd_term_values.get($i))
#set ($id_value='RDO:'+$ctd_id_values.get($i).substring(4,11))
#set ($count_value=$ctd_count_values.get($i))
<a href="http://rgd.mcw.edu/rgdweb/ontology/annot.html?acc_id=$id_value" onmouseover="highlightTerm('$pmid','$esc.javascript($term_value)')" onmouseout="removeHighlight('$pmid')">$term_value</a>&nbsp;&nbsp;
#end
</div>
#end

#if ($doc.getFirstValue('organism_ncbi_id'))
#set($organism_id=$doc.getFieldValue('organism_ncbi_id'))
#set($organism_term=$doc.getFieldValue('organism_term'))
#set ($organism_count_values = $doc.getFieldValue('organism_count'))
#set ($organism_pos = $doc.getFieldValue('organism_pos'))
<div>Organism: 
#set ($value_length = $organism_id.size() - 1)
#foreach ($i in [0..$value_length])
#set ($term_value=$organism_term.get($i))
#set ($id_value=$organism_id.get($i))
#set ($count_value=$organism_count_values.get($i))
#set ($pos_value=$organism_pos.get($i))
<a href="http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=$id_value&mode=info" onmouseover="highlightTerm1('$pmid','$pos_value')" onmouseout="removeHighlight('$pmid')">$term_value</a>&nbsp;&nbsp;
#end
</div>
#end

#if ($doc.getFieldValue('rs_id'))
#set ($rs_id_values = $doc.getFieldValue('rs_id'))
#set ($rs_term_values = $doc.getFieldValue('rs_term'))
#set ($rs_count_values = $doc.getFieldValue('rs_count'))
<div>Rat strains:
#set ($value_length = $rs_id_values.size() - 1)
#foreach ($i in [0..$value_length])
#set ($term_value=$rs_term_values.get($i))
#set ($id_value=$rs_id_values.get($i))
#set ($count_value=$rs_count_values.get($i))
<a href="http://rgd.mcw.edu/rgdweb/ontology/annot.html?acc_id=$id_value" onmouseover="highlightTerm('$pmid','$esc.javascript($term_value)')" onmouseout="removeHighlight('$pmid')">$term_value</a>&nbsp;&nbsp;
#end
</div>
#end

#if ($doc.getFieldValue('cmo_id'))
#set ($cmo_id_values = $doc.getFieldValue('cmo_id'))
#set ($cmo_term_values = $doc.getFieldValue('cmo_term'))
#set ($cmo_count_values = $doc.getFieldValue('cmo_count'))
<div>Clinical Measurement Terms:
#set ($value_length = $cmo_id_values.size() - 1)
#foreach ($i in [0..$value_length])
#set ($term_value=$cmo_term_values.get($i))
#set ($id_value=$cmo_id_values.get($i))
#set ($count_value=$cmo_count_values.get($i))
<a href="http://rgd.mcw.edu/rgdweb/ontology/annot.html?acc_id=$id_value" onmouseover="highlightTerm('$pmid','$esc.javascript($term_value)')" onmouseout="removeHighlight('$pmid')">$term_value</a>&nbsp;&nbsp;
#end
</div>
#end

#if ($doc.getFieldValue('mmo_id'))
#set ($mmo_id_values = $doc.getFieldValue('mmo_id'))
#set ($mmo_term_values = $doc.getFieldValue('mmo_term'))
#set ($mmo_count_values = $doc.getFieldValue('mmo_count'))
<div>Measurement Method Terms:
#set ($value_length = $mmo_id_values.size() - 1)
#foreach ($i in [0..$value_length])
#set ($term_value=$mmo_term_values.get($i))
#set ($id_value=$mmo_id_values.get($i))
#set ($count_value=$mmo_count_values.get($i))
<a href="http://rgd.mcw.edu/rgdweb/ontology/annot.html?acc_id=$id_value" onmouseover="highlightTerm('$pmid','$esc.javascript($term_value)')" onmouseout="removeHighlight('$pmid')">$term_value</a>&nbsp;&nbsp;
#end
</div>
#end

#if ($doc.getFieldValue('xco_id'))
#set ($xco_id_values = $doc.getFieldValue('xco_id'))
#set ($xco_term_values = $doc.getFieldValue('xco_term'))
#set ($xco_count_values = $doc.getFieldValue('xco_count'))
<div>Experimental Condition Terms:
#set ($value_length = $xco_id_values.size() - 1)
#foreach ($i in [0..$value_length])
#set ($term_value=$xco_term_values.get($i))
#set ($id_value=$xco_id_values.get($i))
#set ($count_value=$xco_count_values.get($i))
<a href="http://rgd.mcw.edu/rgdweb/ontology/annot.html?acc_id=$id_value" onmouseover="highlightTerm('$pmid','$esc.javascript($term_value)')" onmouseout="removeHighlight('$pmid')">$term_value</a>&nbsp;&nbsp;
#end
</div>
#end

#if ($doc.getFieldValue('so_id'))
#set ($so_id_values = $doc.getFieldValue('so_id'))
#set ($so_term_values = $doc.getFieldValue('so_term'))
#set ($so_count_values = $doc.getFieldValue('so_count'))
<div>Sequence Ontology Terms:
#set ($value_length = $so_id_values.size() - 1)
#foreach ($i in [0..$value_length])
#set ($term_value=$so_term_values.get($i))
#set ($id_value=$so_id_values.get($i))
#set ($count_value=$so_count_values.get($i))
<a href="http://rgd.mcw.edu/rgdweb/ontology/annot.html?acc_id=$id_value" onmouseover="highlightTerm('$pmid','$esc.javascript($term_value)')" onmouseout="removeHighlight('$pmid')">$term_value</a>&nbsp;&nbsp;
#end
</div>
#end

#if ($doc.getFieldValue('pw_id'))
#set ($pw_id_values = $doc.getFieldValue('pw_id'))
#set ($pw_term_values = $doc.getFieldValue('pw_term'))
#set ($pw_count_values = $doc.getFieldValue('pw_count'))
<div>Pathway Ontology Terms:
#set ($value_length = $pw_id_values.size() - 1)
#foreach ($i in [0..$value_length])
#set ($term_value=$pw_term_values.get($i))
#set ($id_value=$pw_id_values.get($i))
#set ($count_value=$pw_count_values.get($i))
<a href="http://rgd.mcw.edu/rgdweb/ontology/annot.html?acc_id=$id_value" onmouseover="highlightTerm('$pmid','$esc.javascript($term_value)')" onmouseout="removeHighlight('$pmid')">$term_value</a>&nbsp;&nbsp;
#end
</div>
#end

#if ($doc.getFieldValue('ma_id'))
#set ($ma_id_values = $doc.getFieldValue('ma_id'))
#set ($ma_term_values = $doc.getFieldValue('ma_term'))
#set ($ma_count_values = $doc.getFieldValue('ma_count'))
<div>Mouse Anatomy Terms:
#set ($value_length = $ma_id_values.size() - 1)
#foreach ($i in [0..$value_length])
#set ($term_value=$ma_term_values.get($i))
#set ($id_value=$ma_id_values.get($i))
#set ($count_value=$ma_count_values.get($i))
<a href="http://rgd.mcw.edu/rgdweb/ontology/annot.html?acc_id=$id_value" onmouseover="highlightTerm('$pmid','$esc.javascript($term_value)')" onmouseout="removeHighlight('$pmid')">$term_value</a>&nbsp;&nbsp;
#end
</div>
#end

#if ($doc.getFieldValue('cl_id'))
#set ($cl_id_values = $doc.getFieldValue('cl_id'))
#set ($cl_term_values = $doc.getFieldValue('cl_term'))
#set ($cl_count_values = $doc.getFieldValue('cl_count'))
<div>Cell Ontology Terms:
#set ($value_length = $cl_id_values.size() - 1)
#foreach ($i in [0..$value_length])
#set ($term_value=$cl_term_values.get($i))
#set ($id_value=$cl_id_values.get($i))
#set ($count_value=$cl_count_values.get($i))
<a href="http://rgd.mcw.edu/rgdweb/ontology/annot.html?acc_id=$id_value" onmouseover="highlightTerm('$pmid','$esc.javascript($term_value)')" onmouseout="removeHighlight('$pmid')">$term_value</a>&nbsp;&nbsp;
#end
</div>
#end

#if ($doc.getFieldValue('mp_id'))
#set ($mp_id_values = $doc.getFieldValue('mp_id'))
#set ($mp_term_values = $doc.getFieldValue('mp_term'))
#set ($mp_count_values = $doc.getFieldValue('mp_count'))
<div>Mammalian Phenotype Terms:
#set ($value_length = $mp_id_values.size() - 1)
#foreach ($i in [0..$value_length])
#set ($term_value=$mp_term_values.get($i))
#set ($id_value=$mp_id_values.get($i))
#set ($count_value=$mp_count_values.get($i))
<a href="http://rgd.mcw.edu/rgdweb/ontology/annot.html?acc_id=$id_value" onmouseover="highlightTerm('$pmid','$esc.javascript($term_value)')" onmouseout="removeHighlight('$pmid')">$term_value</a>&nbsp;&nbsp;
#end
</div>
#end

#if ($doc.getFieldValue('nbo_id'))
#set ($nbo_id_values = $doc.getFieldValue('nbo_id'))
#set ($nbo_term_values = $doc.getFieldValue('nbo_term'))
#set ($nbo_count_values = $doc.getFieldValue('nbo_count'))
<div>Neuro Behavioral Terms:
#set ($value_length = $nbo_id_values.size() - 1)
#foreach ($i in [0..$value_length])
#set ($term_value=$nbo_term_values.get($i))
#set ($id_value=$nbo_id_values.get($i))
#set ($count_value=$nbo_count_values.get($i))
<a href="http://rgd.mcw.edu/rgdweb/ontology/annot.html?acc_id=$id_value" onmouseover="highlightTerm('$pmid','$esc.javascript($term_value)')" onmouseout="removeHighlight('$pmid')">$term_value</a>&nbsp;&nbsp;
#end
</div>
#end



##<div>Text: #field('text')</div>
##<div>Sentence: #field('sentence')</div>
##<div>Language: #field('language')</div>
##<div>Text: #field('text')</div>
<div class="mlt">
  #set($mlt = $mltResults.get($docId))
  #set($mltOn = $params.getBool('mlt'))
  #if($mltOn == true)<div class="field-name">Similar Items</div>#end
  #if ($mltOn && $mlt && $mlt.size() > 0)
  <ul>
    #foreach($mltHit in $mlt)
      #set($mltId = $mltHit.getFieldValue('pmid'))
      <li><div><a href="#url_for_home?q=id:$mltId">$mltId</a></div><div><span class="field-name">Title:</span> $mltHit.getFieldValue('Title')</div>
        <div><span class="field-name">Abstract:</span> $mltHit.getFieldValue('abstract') </div>
      </li>
    #end
  </ul>
  #elseif($mltOn && $mlt.size() == 0)
    <div>No Similar Items Found</div>
  #end
</div>
#if($params.getBool("debugQuery",false))
  <a href="#" onclick='jQuery(this).siblings("pre").toggle(); return false;'>toggle explain</a>
  <pre style="display:none">$response.getExplainMap().get($doc.getFirstValue('id'))</pre>
#end
